/modul-1/JavaApplication9/nbproject/private/
/modul-1/Mobil/nbproject/private/
/modul-1/PraktikumPBOModul1/nbproject/private/
/modul-1/PraktikumPBOModul1/build/
/modul-1/PraktikumPBOModul1/dist/
/modul-1/SourceCodeSoal1/nbproject/private/
/modul-1/SourceCodeSoal1/build/
/modul-1/SourceCodeSoal2/nbproject/private/
/modul-1/SourceCodeSoal2/build/
/modul-1/SourceCodeSoal2/dist/
/modul-1/SourceCodeSoal1/dist/

#/modul-1/230441100135-AliyulRidho/mobil/nbproject/private/
#/modul-1/230441100135-AliyulRidho/mobil/build/
#/modul-1/230441100135-AliyulRidho/Task3/nbproject/private/
#/modul-1/230441100135-AliyulRidho/Task3/build/
#/modul-1/230441100135-AliyulRidho/Task3/dist/
#/modul-1/230441100135-AliyulRidho/Manusia/nbproject/private/
#/modul-1/230441100135-AliyulRidho/Manusia/build/
#/modul-1/230441100135-AliyulRidho/ManusiaDinamis/nbproject/private/
#/modul-1/230441100135-AliyulRidho/ManusiaDinamis/build/
#/modul-1/230441100135-AliyulRidho/ManusiaDinamis/dist/

