/modul-1/230441100135-AliyulRidho/mobil/nbproject/private/
/modul-1/230441100135-AliyulRidho/mobil/build/
/modul-1/230441100135-AliyulRidho/Task3/nbproject/private/
/modul-1/230441100135-AliyulRidho/Task3/build/
/modul-1/230441100135-AliyulRidho/Task3/dist/
/modul-1/230441100135-AliyulRidho/Manusia/nbproject/private/
/modul-1/230441100135-AliyulRidho/Manusia/build/
/modul-1/230441100135-AliyulRidho/ManusiaDinamis/nbproject/private/
/modul-1/230441100135-AliyulRidho/ManusiaDinamis/build/
/modul-1/230441100135-AliyulRidho/ManusiaDinamis/dist/
